.product-satisfaction {
  display: flex;
  flex-direction: column;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.product-satisfaction a {
  display: block;
  margin-bottom: 1rem;
  color: var(--indigo900);
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
}

.product-satisfaction span {
  flex: 1 1 auto;
}

@media screen and (min-width: 1024px) {
  .product-satisfaction {
    padding: 2rem;
  }

  .product-satisfaction a {
    font-size: 1.8rem;
  }

  .product-satisfaction span {
    height: 2.5rem;
  }
}
